@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    z-index: 10;
    position: sticky;
    top: 0;
    
}



/* scrollbar */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(48, 47, 47);
}

::-webkit-scrollbar-thumb:hover {

    background-color: #5e5e5e;
}



/* navBar  */
.navBar {
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 2px 1px grey;
    margin-bottom: 5px;
    position: relative;
    background: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a{
    color: inherit;
    text-decoration: none;
}
.logo h1 { 
    font-family: 'Lobster';
    margin-left: 5px;
    font-weight: 400;
}



.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.navLinks li {
    margin: 0px 15px;
    list-style: none;

}

.navLinks li a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #6d909c;
    padding: 4px;
}

.navLinks li a:hover {
    background-color: lightblue;
    color: #054866;
    border-radius: 5px;
}

.searchBox {
    width: 50%;
    position: relative;
}

.searchBox form {
    display: flex;
    justify-content: center;

}

.searchBox input {
    width: 100%;
    height: 36px;
    font-size: 1rem;
    padding: 2px 6px;
    outline: none;
    background: transparent;
    border: 1px solid #303030;
    color: inherit;
}

.searchBox span {
    position: absolute;
    right: 11%;
    top: 25%;
    font-size: 1.1rem;
    cursor: pointer;
}
.submitBtn{
    border: 1px solid #303030;
    color: inherit;
}

.submitBtn i {
    cursor: pointer;
    font-size: 1rem;
    padding: 6px 15px;
}
.darkModeBtn{
    background: transparent;
    color: inherit;
    margin: auto;
    border: none;
    cursor: pointer;
}
.darkModeBtn i{
    font-size: 1.5rem;
}

/* menuBar */
.menuBar{
    position: absolute;
    right: 2px;
    top: 10px;
    display: none;
}

.line {
    width: 30px;
    height: 4px;
    background: black;
    margin: 4px;
    transition: all 0.3s ease-in-out;
}
.menuActive .line1{
    transform: rotate(45deg) translate(6px, 6px);
}
.menuActive .line2{
    display: none;
}
.menuActive .line3{
    transform: rotate(-45deg) translate(0px, 3px);
}
.darkModeActive .line{
    background: white;
}






/* home section */

.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: lightblue;
    margin-top: 3px;
    position: relative;
}

.heroContent {
    width: 40%;
}
.heroContent p{
    margin: 5px 0;
}

.heroImage {
    z-index: 2;
}

.circle {
    width: 40%;
    height: -webkit-fill-available;
    background: lightcoral;
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 200px 0 0px 200px
}

/* memes section */
.memesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 15px;
    /* background: #f9f9f9; */
}

.heading {
    padding: 5px;
    border-bottom: 2px solid #8cb6c3;
}

.memesInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.videoBox {
    /* border: 2px solid; */
    width: 274px;
    margin: 10px;
    height: 225px;
    text-align: center;
    /* box-shadow: 0 0 5px 0px #c9c9c9; */
    cursor: pointer;
    position: relative;
}

.videoBox .poster {
    width: 100%;
}


.playIcon {
    position: absolute;
    left: 0;
    z-index: 1;
    margin: 2px;
}

.playIcon i {
    font-size: 1.1rem;
    color: white;
    background: #00000080;
    padding: 5px 10px;
    border-radius: 5px;
}

.videoShortDetails {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.videoShortDetails .userLogo {
    border-radius: 20px;
    border: 2px dashed #548696;
}
.videoShortDetails h5{
    line-height: 1.2rem;
    margin-left: 10px;
    text-align: start;
}


/* memesDetails section */
.detailsContainer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;

}

.videoContainer {
    width: 640px;
    height: fit-content;
    margin: 10px;
    text-align: center;
   background-color: white;
    padding-bottom: 7px;
}

.titleLogoBox{
    margin: 5px;
}
.titleLogoBox h5{
    font-size: 1rem;
}

.otherContent {
    width: 25%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.otherContent .memesContainer {
    margin-top: 0;
}

.btn{
    position: relative;
}

.downloadBtn {
    border: none;
    padding: 6px 10px;
    background: #048bce;
    color: white;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
    /* font-size: 1rem; */
}

.downloadBtn i {
    margin-right: 5px;
}

.downloadBtn:hover {
    /* background-color: #0b72a5; */
    background: black;
}

.shareBtn {
    border: none;
    background: #f40505;
    margin: 10px 5px;
    color: white;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.shareBtn i {
    margin-right: 5px;
}

.shareBtn:hover {
    /* background: #b40909; */
    background: black;
}

.popUpBox{
    display: none;
    position: absolute;
    z-index: 15;
    background: black;
    color: white;
    left: 35%;
    width: 170px;
    padding: 5px;
    border-radius: 5px;
}
.popUpBox::after{
    content: '';
    position: absolute;
    left: 10px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent ;
    border-left: 15px solid transparent ;
    border-bottom: 15px solid black ;

}

/* Search page */
.searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.results .videoBox {
    width: 355px;
    height: 260px;
}
.results .videoBox .poster {
    height: 75%;
}


/* Error section */
.notFound {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.notFound img {
    width: 400px;
}

/* page not found */
.pageNotFound{
    text-align: center;
}
.pageNotFound img{
    width: 30%;
}

.errorMessage{
    text-align: center;
    margin-bottom: 10px;
}
.reloadBtn{
    border: none;
    margin: 6px;
    padding: 10px;
    background: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.reloadBtn:hover{
    background: black;
}

.reloadBtn i{
    margin-right: 5px;
}


/* dark mode */
.darkModeActive{
    background-color: #202124;
    color: white;
}
